body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

// 変数セレクタ
$main_color: #4ea9ff;
$sub_color: #f9ec3e; 
$title-size: 40px;
$text-size: 20px;
$text-color: black;


// @mixin

@mixin navigation{
    ul{
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 30px;
        li{
            a{
                text-decoration: none;
                font-size: 30px;
                color: $text-color;
            }
        }
    }
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    position: relative;
    z-index: 10;
    padding-top: 50px;
    .header-title{
        display: flex;
        justify-content: center;
        align-items: center;
        .logo{
            padding: 20px 20px;
            img{
                border: 1px solid black;
                border-radius: 50%;
            }
        }
        h1{
            font-size: $title-size;
            &::after{
                content: "冒険をここから始める";
                display: flex;
                flex-direction: column;
                font-size: 30px;
            }
        }
    }
    nav{
        padding: 0 60px 20px 0;
        @include navigation;
    }
    
}

.main_hero{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    top: 0;
    &::after{
        content: "";
        position: absolute;
        top: -90px;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 -28px 15px #ffffff; /* 下に白い影を付ける */
    }
    img{
        height: 90vh;
        object-fit: cover;
        display: block;
    }
}

main{
    margin-top: 460px;
    .phrasebox{
        text-align: center;
        line-height: 60px;
        margin-bottom: 40px;
        .catchphrase{
            font-size: 40px;
            margin-bottom: 30px;
        }
    }

    .explanation{
        font-size: 14px;
    }

    .sub_hero{
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 50px;
        margin-bottom: 150px;
        .sub1{
            width: 380px;
            height: 480px;
            object-fit: fill;
        }
        .sub2{
            width: 800px;
            height: 480px;
            object-fit: cover;
        }
    }
}


